.City {
    background-color: #efefef;
    &:nth-child(even) {
        background-color: #fcfcfc;
    };
//    &:hover {
//        font-weight: bold;
//        border: 1px dashed #ccc;
//        box-sizing: border-box;
//    };
    display: flex;
    align-items: center;
    
    &--name, &--icon, &--delete {
        display: flex;
    }
    
    &--name {
    margin-left: 20px;
    width: 200px;
    }
    
    &--icon {
        display: inline-block;
        margin-left: auto;
    }
    
    &--delete {
        display: inline-block;
        width: 20px;
        margin-right: 10px;
    }
}

.Delete--button {
    cursor: pointer;
    &:hover {
        color: blue;
        font-weight: bold;
    }
}