.CitySearch {
    margin: 40px auto;
    width: 60%;
    display: flex;
    &--input {
        flex: 1;
        padding: 10px;
        width: 300px;
        font-size: 20px;
    }
    &--button {
        background-color: green;
        color: white;
        font: inherit;
        font-weight: normal;
        cursor: pointer;
        &:active {
          transform: translateY(1px);
          filter: saturate(150%);
        }
    }
}